@import "tailwindcss";

@theme {
  --color-blue: #005cff;
  --color-blue-navy: #00264e;
  --color-purple: #6220c1;
  --color-cyan: #5ec0be;
  --color-gray: #dedede;
}

@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
    @apply text-sm p-0 m-0 box-border h-screen w-screen;
  }

  header {
    @apply flex flex-col gap-4 justify-center items-center mb-5;
  }
}

@layer components {
  .disclaimer {
    @apply bg-blue p-2 text-white  text-center w-full;

    & p {
      @apply font-bold;
    }

    & strong {
      @apply bg-purple font-bold;
    }
    & span {
      @apply font-normal;
    }
  }
  .upper-header-container {
    @apply w-full flex flex-col items-center gap-3 px-4 justify-center xl:px-40;
  }
  .upper-wrapper {
    @apply flex gap-4 justify-around mt-2 mb-4 items-center w-full lg:flex-row w-full;

    & #menu-item {
      @apply lg:hidden;
    }
  }
  .cart-container {
    @apply relative;

    & span {
      @apply absolute bottom-3 left-4 bg-blue rounded-full text-white px-2 py-0.5 text-xs;
    }

    & img {
      @apply z-20;
    }
  }

  .label-input-wrapper {
    @apply flex justify-center gap-12;
  }

  .input-container-mobile {
    @apply px-2 flex border border-gray-200 w-80 rounded-xl md:hidden;

    & input {
      @apply w-11/12 p-2  focus:outline-none placeholder:text-black;
    }
  }
  .input-container-desk {
    @apply md:w-xs lg:w-md xl:w-lg 2xl:w-xl md:flex border border-gray-200  rounded-xl hidden;

    & input {
      @apply w-11/12 p-2  focus:outline-none placeholder:text-black;
    }
  }

  .user-area {
    @apply flex gap-5  font-semibold leading-4 items-center;
  }
  .account-area {
    @apply hidden md:flex gap-2;
  }

  .navbar {
    @apply flex-wrap items-center flex-row lg:gap-1 justify-center  hidden lg:flex text-xs lg:text-sm;

    & > div {
      @apply flex  gap-2 w-fit;
    }
    & img {
      @apply size-4;
    }

    & ul {
      @apply flex  lg:gap-4;
    }

    & span {
      @apply font-bold;
    }

    & ul li a {
      @apply text-black hover:text-blue-500 font-medium;
    }
  }

  .super-sale-mb {
    @apply max-h-[400px] block md:hidden w-screen object-cover;
  }
  .super-sale-desk {
    @apply max-h-[500px] hidden md:block w-screen object-cover;
  }
}
