@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-blue: #005cff;
  --color-blue-navy: #00264e;
  --color-purple: #6220c1;
  --color-cyan: #5ec0be;
  --color-gray-darkest: #303030;
  --color-gray-darker: #dedede;
  --color-border-gray: #dddddd;
  --color-gray-light: #f5f5f5;
}

@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
    @apply text-sm p-0 m-0 box-border h-screen w-screen;
  }

  header {
    @apply flex flex-col gap-4 justify-center items-center mb-5;
  }

  footer {
    @apply mt-6 bg-gray-light pt-5;
  }

  main {
    @apply w-full;
  }
}

@layer components {
  /* ========= Header - Banner de Desconto ========= */
  .header__banner-discount {
    @apply bg-blue p-2 text-white text-center w-full;

    & p {
      @apply font-bold;
    }

    & strong {
      @apply bg-purple font-bold;
    }

    & span {
      @apply font-normal;
    }
  }

  /* ========= Header - Topo ========= */
  .header__top {
    @apply w-full flex flex-col items-center gap-3 px-4 justify-center xl:px-40;
  }

  /* ========= Header - Conteúdo Principal ========= */
  .header__content {
    @apply flex gap-4 justify-around mt-2 mb-4 items-center w-full lg:flex-row;

    & #menu-item {
      @apply lg:hidden;
    }
  }

  /* ========= Header - Botão do Carrinho ========= */
  .header__cart-button {
    @apply relative;

    & span {
      @apply absolute bottom-3 left-4 bg-blue rounded-full text-white px-2 py-0.5 text-xs;
    }

    & img {
      @apply z-20;
    }
  }

  /* ========= Header - Logo e Busca (Wrapper) ========= */
  .header__logo-search-wrapper {
    @apply flex justify-center gap-12;
  }

  /* ========= Header - Busca Mobile ========= */
  .header__search-mobile {
    @apply px-2 flex border border-gray-200 w-80 rounded-xl md:hidden;

    & input {
      @apply w-11/12 p-2 focus:outline-none placeholder:text-black;
    }
  }

  /* ========= Header - Busca Desktop ========= */
  .header__search-desktop {
    @apply md:w-xs lg:w-md xl:w-lg 2xl:w-xl md:flex border border-gray-200 rounded-xl hidden;

    & input {
      @apply w-11/12 p-2 focus:outline-none placeholder:text-black;
    }
  }

  /* ========= Header - Ações do Usuário ========= */
  .header__user-actions {
    @apply flex gap-5 font-semibold leading-4 items-center;
  }

  /* ========= Header - Perfil do Usuário ========= */
  .header__user-profile {
    @apply hidden md:flex gap-2;
  }

  /* ========= Navbar ========= */
  .navbar {
    @apply flex-wrap items-center flex-row lg:gap-1 justify-center hidden lg:flex text-xs lg:text-sm;

    & div {
      @apply flex gap-2 w-fit;
    }

    & img {
      @apply size-4;
    }

    & ul {
      @apply flex lg:gap-4;
    }

    & span {
      @apply font-bold;
    }

    & ul li a {
      @apply text-black hover:text-blue-500 font-medium;
    }
  }

  /* ========= Banners Promocionais ========= */
  .promo-banner {
    &.promo-banner--mobile {
      @apply max-h-[400px] block md:hidden w-full object-cover;
    }

    &.promo-banner--desktop {
      @apply max-h-[500px] hidden md:block w-full object-cover;
    }
  }

  /* === SECTION: Produtos Principais === */
  .main__products {
    @apply p-3 md:p-4 flex flex-col gap-4 mt-6 mx-auto lg:max-w-[1000px] xl:max-w-[1200px] mb-12;
  }

  /* === HEADER do bloco de produtos === */
  .main__products-header {
    @apply flex justify-between;

    & h2 {
      @apply font-bold text-lg; /* Título */
    }

    & a {
      @apply underline lg:no-underline font-bold text-gray-darkest; /* Link "ver mais" */
    }
  }

  /* === Carrossel de produtos === */
  .main__products-carousel {
    @apply flex gap-4 overflow-x-auto scroll-smooth snap-x snap-mandatory pb-2 px-3;
    /* scroll-smooth: rolagem suave
      snap-x: trava horizontal
      snap-mandatory: força o snap
      pb-2: espaço inferior para os dots */
  }

  /* === Botões de navegação do carrossel === */
  .main__products-carousel-left,
  .main__products-carousel-right {
    @apply absolute top-1/2 -translate-y-1/2 bg-white p-2 shadow rounded-full z-10 border-blue border-1 hidden lg:block;
    /* centralizados verticalmente, visíveis apenas em telas grandes */
  }

  .main__products-carousel-left {
    @apply -left-3; /* Lado esquerdo */
  }

  .main__products-carousel-right {
    @apply -right-3; /* Lado direito */
  }

  /* === Produto individual no carrossel === */
  .main__product {
    @apply flex flex-col rounded-xl border-1 border-border-gray p-3 w-44 md:w-56 flex-shrink-0 snap-start;
    /* snap-start: trava o scroll nesse item */

    & button {
      @apply bg-blue w-full p-2 rounded-lg text-white mt-2; /* Botão de ação */
    }
  }

  /* === Imagem do produto com selo === */
  .main__product-img {
    @apply relative z-0 mt-1;

    & span {
      @apply absolute top-0 left-0 bg-blue-navy px-2 py-1 text-[10px] text-center md:text-xs text-white rounded-lg uppercase;
      /* Selo "novo", "promoção", etc */
    }
  }

  /* === Nome do produto === */
  .main__product-name {
    @apply text-base w-full mb-3 text-justify;
  }

  /* === Área de preço + desconto === */
  .main__product-price-area {
    @apply flex items-center gap-4;
  }

  /* === Preço principal e preço riscado === */
  .main__product-price {
    @apply flex flex-col text-base;

    & span {
      @apply line-through text-gray-darkest text-xs; /* Preço antigo */
    }

    & p {
      @apply font-bold; /* Preço atual */
    }
  }

  /* === Selo de desconto === */
  .main__product-discount {
    @apply bg-cyan mb-5 px-3 py-0.5 uppercase text-white text-xs rounded-md text-center whitespace-nowrap;
  }

  /* === Parcelamento === */
  .main__product-installment {
    @apply text-[11px] md:text-xs;

    & span {
      @apply font-bold; /* valor da parcela */
    }
  }

  .main__banner-and-text {
    @apply flex flex-col mx-auto gap-7 sm:gap-2 sm:p-4 sm:flex-row md:max-w-[1200px] mb-10 ;

    & article {
      @apply justify-center px-4 flex flex-col gap-4;
    }

    & h2 {
      @apply font-bold text-xl uppercase md:text-2xl;
    }
    
  }

  .main__banner-text--mobile,
  .main__banner-text--desk {
    @apply font-normal text-black text-sm  lg:text-lg;
  }

  .main__banner-text--mobile {
    @apply lg:hidden;
  }
  .main__banner-text--desk {
    @apply hidden lg:block;
  }

  .main__banner-img--mobile {
    @apply w-full sm:hidden;
  }
  .main__banner-img--desk {
    @apply sm:w-1/2 hidden sm:block;
  }

  /* ========= Banner nos contate ========= */
  .main__contact-us-banner {
    @apply bg-[url(/escritorio-entrada-mobile.svg)] md:bg-[url(/escritorio-entrada-desk.svg)] mb-10 w-full 
    bg-cover bg-center object-cover bg-no-repeat h-[450px] md:h-[700px] flex justify-center items-center;

    & p {
      @apply bg-blue text-white text-center p-4 mt-4 w-full md:text-lg lg:text-2xl md:p-6 lg:p-10 font-light;
    }
  }

  /* ========= Newsletter - Container Principal ========= */
  .main__newsletter {
    @apply flex flex-col items-center w-full p-4  gap-4;
  }

  /* ========= Título da Newsletter ========= */
  .main__newsletter-title {
    @apply font-bold text-lg;

    span {
      @apply text-blue;
    }
  }

  /* ========= Formulário da Newsletter ========= */
  .main__newsletter-form {
    @apply bg-gray-light lg:bg-gray-darker rounded-lg px-4 py-8  flex flex-col gap-4 min-w-full  lg:min-w-1/2 lg:flex-row lg:p-9 lg:gap-8 lg:justify-center lg:items-center;
  }

  /* ========= Área dos Inputs (Nome e E-mail) ========= */
  .main__newsletter-input-area {
    @apply flex flex-col gap-4 lg:flex-row;

    & input {
      @apply bg-white p-4 lg:px-3 lg:py-2 rounded-lg  placeholder:text-[#303030] focus:outline-none;
    }
  }

  /* ========= Termos e Condições ========= */
  .main__newsletter-rights {
    @apply flex gap-2 text-[#656565] font-bold text-xs justify-center;

    & span {
      @apply italic underline;
    }
    & input {
      @apply cursor-pointer transition-all rounded shadow border-2 border-[#DDDDDD] focus:outline-none;
    }
  }

  /* ========= Botão de Envio ========= */
  .main__newsletter-button {
    @apply bg-blue text-white rounded-lg w-full py-3 lg:w-fit lg:px-4 lg:py-2;
  }

  /* ========= Footer Layout Principal ========= */
  .footer__upper {
    @apply flex flex-col lg:flex-row lg:justify-center lg:items-center lg:gap-32 lg:py-8;
  }

  /* ========= Informações da Empresa ========= */
  .footer__company {
    @apply flex flex-col justify-center items-center pt-4 lg:pt-0;
  }

  .footer__company-logo {
    @apply w-full flex justify-center p-4;
  }

  .footer__company-social-media {
    @apply flex justify-evenly p-8 mb-3 w-full gap-4;
  }

  /* ========= Seção Mobile ========= */
  .footer__section--mobile {
    @apply border border-border-gray p-4 pr-8 lg:hidden;
  }

  /* ========= Wrapper de Seções para Desktop ========= */
  .footer__section-wrapper--desk {
    @apply flex justify-center items-start gap-16 hidden lg:flex;

    & h4 {
      @apply font-bold text-base mb-2;
    }
  }

  /* ========= Seção Individual para Desktop ========= */
  .footer__section--desk {
    @apply flex flex-col gap-1 text-sm;
  }

  /* ========= Cabeçalho das Seções (usado no toggle mobile) ========= */
  .footer__section-header {
    @apply flex justify-between items-center w-full cursor-pointer;

    & h4 {
      @apply font-bold text-lg;
    }

    & img {
      @apply size-4 transition-transform duration-300;
    }
  }

  /* ========= Links dentro das Seções (expansíveis no mobile) ========= */
  .footer__section-links {
    @apply overflow-hidden max-h-0 transition-all duration-500 ease-in-out;
  }

  /* ========= Métodos de Pagamento ========= */
  .footer__payment-methods {
    @apply flex w-full justify-center gap-6 flex-wrap p-5 mt-4 lg:py-8;

    & img {
      @apply size-7;
    }
  }

  /* ========= Rodapé Inferior ========= */
  .footer__bottom {
    @apply flex flex-col bg-white p-4 pt-7;
  }

  .footer__description {
    @apply text-center text-xs mb-6;
  }

  .footer__partners {
    @apply flex w-full justify-evenly lg:justify-center lg:gap-8 items-center p-4 bg-white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
