@import "tailwindcss";

@theme {
  --color-blue: #005cff;
  --color-blue-navy: #00264e;
  --color-purple: #6220c1;
  --color-cyan: #5ec0be;
  --color-gray: #dedede;
}

@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @apply text-sm;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

@layer components {
  .disclaimer {
    @apply bg-blue p-2 text-white  text-center;

    & p {
      @apply font-bold;
    }

    & strong {
      @apply bg-purple font-bold;
    }
    & span {
      @apply font-normal;
    }
  }
  .upper-header {
    @apply flex gap-4 justify-around mt-2 mb-4 items-center w-full;
  }
  .cart-container {
    @apply relative;

    & span {
      @apply absolute bottom-3 left-4 bg-blue rounded-full text-white px-2 py-0.5 text-xs;
    }

    & img {
      @apply z-20;
    }
  }

  .input-container {
    @apply px-2 flex border border-gray-200 w-80 rounded-xl;

    & input {
      @apply w-11/12 p-2  focus:outline-none placeholder:text-black;
    }
  }
}
